.main-header {
  padding-bottom: 32px;

  color: #ffffff;
  background: linear-gradient(90deg, #1c3477, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);

  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}

.main-header__promo {
  display: flex;

  width: 290px;
  margin: auto;
  margin-bottom: 41px;
  padding-top: 16px;
  padding-bottom: 15px;

  gap: 41px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;

    width: 678px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
    margin-bottom: 30px;
  }
}
