.page {
  min-width: 320px;
  height: 100%;
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 22px;

  color: #102654;
  background-color: #ffffff;
}

.page__body {
  margin: 0;
}
