.phone-header__number {
  display: block;

  height: 29px;
  margin-top: 1px;

  font-size: 22px;
  font-weight: 700;

  text-decoration: none;

  color: #ffffff;
  border-bottom: 1px solid transparent;

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:active {
    color: #102654;
    border-bottom: 1px solid rgb(16, 38, 84);
  }

  :focus {
    color: #1c3374;
  }

  &:not([href]):disabled {
    color: #f8f9fc;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;

    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }

  p {
    margin: 0;
  }
}
