.season-ticket {
  background-color: #f8f9fc;
}

.season-ticket__wrapper {
  width: 290px;
  margin: auto;
  padding-top: 41px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 380px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

.season-ticket__title {
  margin: 0;
  margin-bottom: 29px;

  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 36px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;

    font-size: 54px;
    line-height: 54px;
  }
}
