@font-face {
  font-family: "Alumni Sans";
  font-weight: 600;
  font-style: normal;

  src: url("../../fonts/alumnisans/AlumniSans-SemiBold.woff2") format("woff2"), url("../../fonts/alumnisans/AlumniSans-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  font-weight: 800;
  font-style: normal;

  src: url("../../fonts/alumnisans/AlumniSans-ExtraBold.woff2") format("woff2"), url("../../fonts/alumnisans/AlumniSans-ExtraBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: normal;

  src: url("../../fonts/robotocondensed/RobotoCondensed-Light.woff2") format("woff2"), url("../../fonts/robotocondensed/RobotoCondensed-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;

  src: url("../../fonts/robotocondensed/RobotoCondensed-Regular.woff2") format("woff2"), url("../../fonts/robotocondensed/RobotoCondensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;

  src: url("../../fonts/robotocondensed/RobotoCondensed-Bold.woff2") format("woff2"), url("../../fonts/robotocondensed/RobotoCondensed-Bold.woff") format("woff");
  font-display: swap;
}
